{% extends 'payments/base.html' %}

{% block content %}
  <h2>Payees</h2>
  <a href="{% url 'add_payee' %}" class="btn btn-primary mb-3">Add Payee</a>
  <ul class="list-group">
    {% for payee in payees %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ payee.name }} - {{ payee.account_number }}
        <span>
            <a href="{% url 'edit_payee' payee.pk %}" class="btn btn-secondary btn-sm">Edit</a>
            <a href="{% url 'payee_statement' payee.pk %}" class="btn btn-info btn-sm">Statement</a>
        </span>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
